<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  
  <h2>User Log In</h2>
<!-- log in form for users, this should create a session -->
 <form action='/sessions/new' method="GET">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <label>
    Username
    <input type="text" name="username" />
  </label>

  <label>
    Password:
    <input type="password" name="password">
  </label>
  <label>
    Dinner Party Name:
    <input type="text" name="dinner_party">
  </label>
  <button>Log In</button>
</form>
<br><br><br><br>

  <h2>Create New Party</h2>
 <form action='/parties' method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <label>
    Party Name
    <input type="text" name="party-name" />
  </label>
  <h4>Enter the emails of everyone in your dinner party</h4>
  <label>
    Member Email:
    <input type="text" name="username">
  </label> <br>
  <label>
    Member Email:
    <input type="text" name="username">
  </label> <br>
  <label>
    Member Email:
    <input type="text" name="username">
  </label> <br>
  <label>
    Member Email:
    <input type="text" name="username">
  </label> <br>
  <label>
    Member Email:
    <input type="text" name="username">
  </label> <br>

  <button>Create</button>
</form>



</body>
</html>