<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  

  <h1>Do you want to have a foodgasm?</h1>

  <h3>Yes. Yes, I do.</h3>
  <a href="/login">Sign me up</a>
  <!-- <input type="text" placeholder="email" name="user-name">
  <input type="text" placeholder="password" name="user-password">
  <button id="sign-up-button">Sign Up</button> -->
  <br><br>
  <h3>Nope, I don't like foodgasms...</h3>
  <a href="https://www.soylent.com/">Get me out of here</a>


</body>
</html>