body{
  margin: 0;
}

#nav-bar{
  position: absolute;
  top: 5px;
  letter-spacing: .5px;
}

.wrapper{
  text-align: center;
}

.header-box{
  margin-top: 20px;
  margin-bottom: 20px;
}

#nominated-header{
  margin-bottom: 10px;
  margin-top: 10px;
}

.nominated{
  margin-bottom: 50px;
}

.nominated-results{
  margin-left: 100px;
}

.search-results{
  margin-left: 100px;
}

.result{
  font-family: "Raleway", sans-serif;
}

.word-cloud{
  width: 900px;
  height: 300px;
  margin: 0 auto;
}

.word-cloud span{
  margin-left: 5px;
  margin-right: 5px;
}