body{
  margin: 0;
}

#nav-bar{
  position: absolute;
  top: 5px;
  right: 50px;
  letter-spacing: .5px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.wrapper{
  text-align: center;
}

.header-box{
  margin-top: 20px;
  margin-bottom: 20px;
}

#nominated-header{
  margin-bottom: 10px;
  margin-top: 10px;
}

#nominated-header h1{
  letter-spacing: 4px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.nominated{
  margin-bottom: 50px;
}

.nominated-results{
  margin-left: 100px;
}

.search-results{
  margin-left: 100px;
}

#search-results-h1{
  letter-spacing: 4px;
}

.result{
  font-family: "Raleway", sans-serif;
}

.word-cloud{
  width: 900px;
  height: 300px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.word-cloud span{
  margin-left: 7px;
  margin-right: 7px;
}

.dinner-party-member{
/*  display: inline;
*/
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.delete{
  position: relative;
  left: 120px;
  text-decoration: none;

}

#results-h4{
  margin-top: 15px;
  margin-bottom: 15px;
}

